@import "./src/scss/mixins";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#progressBar {
  max-width: 80rem;
  width: 100%;
  border-radius: 10px;
  margin: 2rem auto;

  #progress {
    height: 1.4rem;
    background-color: #56a5eb;
    border-radius: 10px;
    width: 100%;
  }

  .progressFull {
    margin: 0 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
  }
}

.done {
  margin-bottom: 2rem;
}

.congratText {
  margin-bottom: 2rem;
}

.congratEmoji {
  margin-bottom: 2rem;
}

/* HUD */

#hud {
  display: flex;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #56a5eb;
  padding: 0.7rem;
  width: 120px;
  border-radius: 10px 10px 0 0;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.hud-main-text {
  text-align: center;
  background-color: white;
  padding: 1.9rem 0.5rem;
  width: 120px;
  border-radius: 0 0 10px 10px;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#hud-item {
  vertical-align: middle;
}

#hud-item:hover {
  .hud-prefix {
    background-color: #56afff;
  }
}
