@import "./src/scss/mixins";

.progressFull {
  background: #F4AC32 !important;
}

.done {
  margin: 2rem 0;
}

.congratText {
  margin-bottom: 2rem;
}

.congratEmoji {
  margin-bottom: 2rem;
  font-size:100px
}

.container__content {
  padding: 0 1.5rem 10rem;
}

/* HUD */

#hud {
  display: flex;

  @include to-xs {
    margin-top: 0;
  }

}

.hud-main-text {
  text-align: center;
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 0 0 5px 5px;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#hud-item {
  vertical-align: middle;
}
