@import "./src/scss/mixins";

.choice-container {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 1.9rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.choice-container:hover,
.choice-container:active {
  cursor: pointer;
  background-color: white;
  transform: translateX(-0.15rem);
  transition: 300ms;

  .choice-prefix {
    background-color: #FFD131;
    transition: 300ms;
  }
}

/* Avoid choice containers sticky hover effect on mobile */
@media (hover: none) {
  .choice-container:hover,
  .choice-container:active {
    background-color: white;

    .choice-prefix {
      background-color: #F4AC32;
    }
  }
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #F4AC32;
  border-radius: 10px 0 0 10px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;

  @include to-xs {
    font-size: 1.6rem;
  }
}

.locked.choice-container:hover,
.locked {
  transform: translateX(0.15rem);
}

.correct.choice-container:hover,
.correct {
  background-color: #c8f2d2;
  transform: translateX(0.15rem);
  //transition: 150ms;
}

.incorrect.choice-container:hover,
.incorrect {
  background-color: #f6cbd0;
  transform: translateX(0.15rem);
  //transition: 150ms;
}

#question {
  margin: 4rem 2rem;

  @include to-xs {
    margin: 4rem 1rem;
  }
}
