@import "./src/scss/mixins";

.choice-container {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 1.9rem;
  border-radius: 5px;
  background-color: white;
}

.choice-container:hover:not(.locked),
.choice-container:active,
.correct,
.incorrect {
  cursor: pointer;
  background-color: white;
  transition: 300ms;

  .choice-prefix {
    background-color: #FFD131;
    transition: 300ms;
  }
}

/* Avoid choice containers sticky hover effect on mobile */
@media (hover: none) {
  .choice-container:hover,
  .choice-container:active {
    background-color: white;

    .choice-prefix {
      background-color: #F4AC32;
    }
  }
}

.choices {
  .choice-prefix {
    color: black;
    padding: 1.5rem 2.5rem;
    background-color: #F4AC32;
    border-radius: 5px 0 0 5px;
  }

  .choice-text {
    color: black;
    padding: 1.5rem;
    width: 100%;

    @include to-xs {
      font-size: 1.6rem;
    }
  }
}

.correct.choice-container:hover,
.correct {
  background-color: #c8f2d2;
}

.incorrect.choice-container:hover,
.incorrect {
  background-color: #f6cbd0;
}

#question {
  margin: 4rem 2rem;

  @include to-xs {
    margin: 4rem 1rem;
  }
}
