@import "./src/scss/mixins";

.choice-container {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  font-size: 1.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.choice-container:hover,
.choice-container:active {
  cursor: pointer;
  background-color: #f5f5f5;
  transform: translateX(-0.1rem);
  transition: transform 150ms;

  .choice-prefix {
    background-color: #56afff;
  }
}

/* Avoid choice containers sticky hover effect on mobile */
@media (hover: none) {
  .choice-container:hover,
  .choice-container:active {
    background-color: white;

    .choice-prefix {
      background-color: #56a5eb;
    }
  }
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  border-radius: 10px 0 0 10px;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;

  @include to-xs {
    font-size: 1.6rem;
  }
}

.correct.choice-container:hover,
.correct {
  background-color: #c8f2d2;
}

.incorrect.choice-container:hover,
.incorrect {
  background-color: #f6cbd0;
}

#question {
  margin: 2rem;

  @include to-xs {
    margin: 10px 20px;
  }
}

#hud-item:hover {
  .hud-prefix {
    background-color: #56afff;
  }
}

#progressBar {
  max-width: 80rem;
  border-radius: 10px;

  #progress {
    height: 1.4rem;
    background-color: #56a5eb;
    border-radius: 10px 0 0 10px;
    width: 0%;
  }

  .progressFull {
    margin: 0 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
  }
}
