/* You can add global styles to this file, and also import other style files */
@import "./src/scss/mixins";

:root {
  background-color: #fbfaf9;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;

  @include to-xs {
    padding: 2rem;
  }

  .backbutton {
    font-size: 1.5rem;
    padding: 0.4rem 0;
    margin: 0 auto;
    width: 15rem;
    text-align: center;
    border: 0.1rem solid #f5f5f5;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 10px;
  }

  .backbutton:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

}

h1 {
  font-size: 5.4rem;
  text-align: center;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;

  @include to-xs {
    font-size: 2.5rem;
    margin: 0 10px;
  }
}

/* UTILITIES */

.container__header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include from-xs {
    margin-top: 2rem;
    padding: 0 0;
  }

  a {
    width: 120px;
    position: relative;
    margin: 0 auto;

    @include from-xs {
      margin-left: 0px;
    }

    @include to-xs {
      margin-bottom: 2rem;
    }
  }

  #hud {
    width: 260px;

    position: relative;

    @include to-xs {
      justify-content: space-evenly;
      width: 100%;
    }
  }

  @include to-xs {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.container__content {
  width: 100vw;
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 0;

  @include to-xs {
    padding: 3rem 1.5rem;
  }
}

/* any child of the container */
.container__content > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */

.btn {
  font-size: 1.8rem;
  padding: 0.7rem 1.0rem;
  width: 15rem;
  text-align: center;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: #56a5eb;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #56afff;
  //transform: translateY(-0.1rem);
  //transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #56a5eb;
  padding: 0.5rem;
  width: 120px;
  border-radius: 10px 10px 0 0;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
}

.hud-main-text {
  text-align: center;
  font-size: 2rem;
  background-color: white;
  padding: 1.0rem 0.5rem;
  width: 120px;
  border-radius: 0 0 10px 10px;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
}

#hud-item {
  vertical-align: middle;
}
